<%- include("../../../../includes/admin/views/_layouts/adminheader") %>
    <div class="admin-background-full"></div>
    <h2 class="admin-page-title">portfolio projects</h2>
    <div class="button-row">
        <button class="btn">
            <a class="btn-text" href="/admin/portfolio/add-project">Add a New Project</a>
        </button>
        <button class="btn">
            <a class="btn-text" href="/admin/portfolio-categories/add-portfolio-category">Add a New Category</a>
        </button>
    </div>
    <br>
    <br>



    <table class="admin-table">
        <thead>
            <tr class="home">
                <th>Project</th>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% projects.forEach(function(project){ %>
                <tr id="id_<%= project._id %>" class="<%= project.slug %>">
                    <td>
                        <%= project.title %>
                    </td>
                    <td>
                        <%= project.category %>
                    </td>
                    <td class="edit-table-stuffs">
                        <a href="/admin/portfolio/edit-project/<%= project._id %>">Edit</a>
                    </td>
                    <td class="delete-table-stuffs">
                        <a class="confirmDeletion" href="/admin/portfolio/delete-project/<%= project._id %>">Delete</a>
                    </td>
                </tr>
            <% }) %>


        </tbody>
    </table>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <%- include("../../../../includes/admin/views/_layouts/adminfooter") %>