<% include ../_layouts/adminheader %>
    <div class="admin-background-full"></div>
    <h2 class="admin-page-title">Edit an Image</h2>
    <button class="btn btn-primary">
        <a class="btn-text" href="/admin/add-media">Back to Add Media</a>
    </button>


    <br>
    <br>

    <form method="post" action="/admin/add-media/edit-image/<%= id %>" enctype="multipart/form-data">
        <div class="form-options-bottom-group">
            <div class="form-options">
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">

                </div>

                <div class="form-group">
                    <label for="">Alt</label>
                    <input type="text" class="form-control" name="alt" value="<%= alt %>" placeholder="Alt Tag">

                </div>

                <div class="form-group">
                    <label for="">Category</label>
                    <select name="category" class="form-control">
                        <% categories.forEach(function(category){ %>
                            <option value="<%= category.title %>" <% if (category.title === selectedCat) { %>
                                selected = "selected"
                                <% } %>
                                    >
                                <%= category.title %>
                            </option>
                            <% }); %>
                    </select>
                </div>
                <img class="add-media-preview-image" src="/images/<%= path %>" id="imgPreview" alt="<%= alt %>">

            </div>
                <div class="second-form-options">
                    <div class="form-group">
                        <label for="">Link</label>
                        <input type="text" class="form-control" name="link" value="<%= link %>" placeholder="Optional link for redirection use">

                    </div>
                    <div class="form-group">
                        <label for="">Meta Description</label>
                        <textarea class="disabled-resize" rows="4" name="description" placeholder="Place a brief description of this image. Max of 320 characters including spaces."
                            maxlength="320"><%= description %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Meta Keywords</label>
                        <textarea class="disabled-resize" rows="4" name="keywords" placeholder="Place your keywords seperated by a comma. Max of 300 characters. EX. neat image, neater image stuffs, neatest photographer"
                            maxlength="300"><%= keywords %></textarea>
                        </div>

                    </div>
                </div>
            <div>
                <button class="btn-submit btn-text">Submit</button>
                <button class="btn-danger btn-text">
                    <a href="/admin/add-media/delete-image/<%= id %>">Delete</a>
                </button>
            </div>
        
    </form>

    <% include ../_layouts/adminfooter %>