<%- include("../../_layouts/adminheader") %>
    <h2 class="admin-page__main-title">Media Categories</h2>
    <% include ../../_layouts/messages/messages %>
    <div>
    <button class="admin-button admin-button--add-something admin-button--add-something--second">
    <a href="/admin/add-media/upload-image"><i class="fa fa-image"></i></a>
</button>
<button class="admin-button admin-button--add-something">
    <a href="/admin/add-media/upload-video"><i class="fa fa-video"></i></a>
</button>
        <button class="admin-button admin-button--add-something admin-button--add-something--third">
            <a href="/admin/media-categories/add-media-category">+</a>
        </button>
    </div>
    <% if (count > 0) { %>
       
    <div class="blocks-holder">
                <% categories.forEach((cat)=> { %>
                    <div class="admin-blocks">
                    <a href="/admin/media-categories/edit-media-category/<%= cat._id %>">
                    <h4>
                        title:
                    </h4>
                        <h5>
                            <%= cat.title %>
                        </h5>
                        <% if (cat.title == "General") { %>
                            <h5>
                            </h5>
                        <% } else { %>
                            <form class="admin-blocks__delete-stuffs" method="post" action="/admin/media-categories/delete-media-category/<%= cat._id %>?_method=DELETE">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">Delete</button>
                            </form>
                        <% } %>
                        </a>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <h3 class="admin-page__none-of-something">There are no product categories, you should make one.</h3>
        <% } %>
<%- include("../../_layouts/adminfooter") %>