<%- include("../_layouts/adminheader") %>
    <h2 class="admin-page__main-title">Logs Viewer</h2>
    <% include ../_layouts/messages/messages %>
    <button class="admin-button admin-button--main">
        <a href="/admin/logs-viewer">Info Logs</a>
    </button>
    <button class="admin-button admin-button--main">
        <a href="/admin/logs-viewer/type/updates">Update Logs</a>
    </button>
    <button class="admin-button admin-button--main">
        <a href="/admin/logs-viewer/type/errors">Error Logs</a>
    </button>
    <button class="admin-button admin-button--main">
        <a href="/admin/logs-viewer/type/debug">Debug Logs</a>
    </button>
   
   
    
    <% if(infoLogs.length < 1){ %>
        <div class="admin-section__dashboard-row__notepad"  id="logs-display">
            <h3 class="admin-page__none-of-something">There is nothing in the log...</h3>
        </div>
    <% }else{ %>  
    <% if(logname !== "updates"){ %>
        <% if(theUser.userRole.allThethings === "yes" || theUser.userRole.canRemove === "yes") { %>
            <div class="button-row">
                <button class="admin-button admin-button--danger">
                    <a href="/admin/logs-viewer/clear/<%= logname %>">Clear Log</a>
                </button>
            </div>
        <% } %>
    <% } %>
    <table class="admin-table" id="logs-display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            <% infoLogs.forEach((log)=> { %>
            <tr>
                <td><%= log.name %></td>
                <td><%= log.date %></td>
                <td><%= log.info %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% } %>
<%- include("../_layouts/adminfooter") %>
        
        