<% include ../_layouts/header %>
    <h1 class="page__title">Portfolio</h1>
    <% include ../_layouts/messages/messages %>
    <% include ../_layouts/messages/errors %>
    <div class="portfolio__icons-holder">
    <% media.forEach(function(icon){ %>
        <% if(icon.category == "icons"){ %> 
            <span class="icon icon--<%= icon.title %> portfolio__icon"></span>
        <% } %>
    <% }) %>
    </div>
    <div class="portfolio__holder">
    <div class="portfolio__work-categories">
        <h5>Project Categories</h5>
        <a class="portfolio__project-category" href="/portfolio#projects">all projects</a>
        <% portfolioCats.forEach(function(portCat){ %>
            <% if(portCat.slug != "publications") { %>
                <a class="portfolio__project-category" href="/portfolio/<%= portCat._id %>#projects">
                    <%= portCat.title.toLowerCase() %>
                </a>
            <% } %>
        <% }) %>
    </div>
    <div class="portfolio__work-stuffs">
        <h3 class="portfolio__category-title" id="projects"><%= title %></h3>
        <div class="portfolio--col">   
            <div class="page__work-holder">
                <img class="page__work-img" src="/portfolio_images/<%= project._id %>/<%= project.image %>" alt="">
                <div class="page__work-information">
                    <p>
                        <%- content %>
                    </p>
                </div>
            </div>
        </div>
    </div>
<% include ../_layouts/footer %>