<%- include("../../../../important/admin/views/_layouts/adminheader") %>
    <h2 class="admin-page__main-title">Blogs</h2>
    <% include ../../../../important/admin/views/_layouts/messages/messages %>
    <div class="button-row">
        <button class="admin-button admin-button--add-something">
            <a href="/admin/blogs/add-blog">+</a>
        </button>
    </div>

    <% if (count > 0) { %>
    <div class="blocks-holder">
                <% blogs.forEach(function(blog) { %>
                <div class="admin-blocks" id="id_<%= blog._id %>" class="<%= blog.slug %>">
                    <a href="/admin/blogs/edit-blog/<%= blog._id %>">
                        <h4>
                            title:
                        </h4>
                        <h5>
                            <%= blog.title %>
                        </h5>
                        <h4>
                            category:
                        </h4>
                        <h5>
                            <%= blog.category.title %>
                        </h5>
                        <h4>
                            published:
                        </h4>
                        <h5>
                            <%= blog.published %>
                        </h5>
                        <h4>
                            author:
                        </h4>
                        <h5>
                            <%= blog.author.username %>
                        </h5>
                        <h4>
                            allow comments:
                        </h4>
                        <h5>
                        <%= blog.allowComments %>
                        </h5>
                        
                    </a><% if(blog.allowComments){ %>
                        <h5 class="admin-table__edit-stuffs">
                            <a href="/admin/blog-comments/by-post/<%= blog.id %>">See Comments</a>
                        </h5>
                        <% } %>
                        <form class="admin-blocks__delete-stuffs" method="post" action="/admin/blogs/delete-blog/<%= blog._id %>?_method=DELETE">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Delete</button>
                        </form>
                    
                </div>
                <% }); %>
            </div>
        <% } else { %>
            <h3 class="admin-page__none-of-something">There are no blogs, you should write one.</h3>
            <% } %>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
            <script>
                $('.blocks-holder').sortable({
                    items: "div",
                    update: function () {
                        let ids = $(".blocks-holder").sortable("serialize");
                        let url = "/admin/blogs/reorder-blogs";
                        $.post(url, ids);
                    }
                }, "refresh");
            </script>
                <%- include("../../../../important/admin/views/_layouts/adminfooter") %>