<%- include("../_layouts/adminheader") %>
    <h2 class="admin-page__main-title">Pages</h2>
    <% include ../_layouts/messages/messages %>
    <button class="admin-button admin-button--add-something">
        <a href="/admin/pages/add-page">+</a>
    </button>
    <div class="blocks-holder">
        <% pages.forEach(function(page) { %>
            <div id="id_<%= page._id %>" class="admin-blocks <%= page.slug %>">
                <a href="/admin/pages/edit-page/<%= page._id %>">
                    <h4>
                        Title:
                    </h4>
                    <h5>
                        <%= page.title %>
                    </h5>
                    <h4>
                        Parent:
                    </h4>
                    <h5>
                        <%= page.parent %>
                    </h5>
                    <h4>
                        Template:
                    </h4>
                    <h5>
                        <%= page.template %>
                    </h5>
                    <h4>
                        Description:
                    </h4>
                    <h5>
                        <%= page.description %>
                    </h5>
                    <form class="admin-blocks__delete-stuffs" method="post" action="/admin/pages/delete-page/<%= page._id %>?_method=DELETE">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">Delete</button>
                    </form>
                    </a> 
                </div>
            
            <% }); %>
    </div>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $('.blocks-holder').sortable({
            items: "div",
            update: function () {
                let ids = $(".blocks-holder").sortable("serialize");
                let url = "/admin/pages/reorder-pages";
                $.post(url, ids);
            }
        }, "refresh");
    </script>
<%- include("../_layouts/adminfooter") %>