<% include ../_layouts/adminheader %>
    <h2 class="admin-page__main-title">Template Dashboard</h2>
    <% include ../_layouts/messages/messages %>
    <button class="admin-button admin-button--main">
        <a href="/admin/template-builder/add-basic">Add Template</a>
    </button>
    <button class="admin-button admin-button--main">
        <a href="/admin/template-builder/builder">Drag and Drop</a>
    </button>
    <% if(templates === 0){ %>
    <h3 class="admin-page__none-of-something">There are no templates...</h3>
    <% } else { %>
    <table class="admin-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Path</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% templates.forEach(function(template) { %>
                <tr id="id_<%= template._id %>" class="<%= template.title %>">
                    <td>
                        <%= template.title %>
                    </td>
                    <td>
                        <%= template.path %>
                    </td>
                    <td class="admin-table__edit-stuffs">
                        <a href="/admin/template-builder/edit-basic/<%= template._id %>">Edit</a>
                    </td>
                    <td class="admin-table__delete-stuffs">
                        <form method="post" action="/admin/template-builder/delete-basic/<%= template._id %>?_method=DELETE">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Delete</button>
                        </form>
                    </td>   
                </tr>
            <% }); %>
        </tbody>
    </table>
    <% } %>
<% include ../_layouts/adminfooter %>