<%- include("../../../../important/admin/views/_layouts/adminheader") %>
    <h2 class="admin-page__main-title">portfolio projects</h2>
    <% include ../../../../important/admin/views/_layouts/messages/messages %>
    <div class="button-row">
        <button class="admin-button admin-button--main">
            <a  href="/admin/portfolio/add-project">Add a New Project</a>
        </button>
        <button class="admin-button admin-button--main">
            <a href="/admin/portfolio-categories/add-portfolio-category">Add a New Category</a>
        </button>
    </div>

    <table class="admin-table">
        <thead>
            <tr class="home">
                <th>Project</th>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% projects.forEach(function(project){ %>
                <tr id="id_<%= project._id %>" class="<%= project.slug %>">
                    <td>
                        <%= project.title %>
                    </td>
                    <td>
                        <%= project.category %>
                    </td>
                    <td class="admin-table__edit-stuffs">
                        <a href="/admin/portfolio/edit-project/<%= project._id %>">Edit</a>
                    </td>
                    <td class="admin-table__delete-stuffs">
                    <form method="post" action="/admin/portfolio/delete-project/<%= project._id %>?_method=DELETE">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">Delete</button>
                            </form>
                    </td>
                </tr>
            <% }) %>


        </tbody>
    </table>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $('tbody').sortable({
            items: "tr",
            placeholder: "ui-state-hightlight",
            update: function () {
                let ids = $("tbody").sortable("serialize");
                let url = "/admin/portfolio/reorder-projects";
                $.post(url, ids);
            }
        });
    </script>

    <%- include("../../../../important/admin/views/_layouts/adminfooter") %>