<% include ../_layouts/adminheader %>
    <h2 class="admin-page__main-title">Admin User Roles</h2>
    <% include ../_layouts/messages/messages %>
    <div>
        <button class="admin-button admin-button--add-something">
            <a href="/admin/user-controls/add-admin-role">+</a>
        </button>
    </div>
    <div class="blocks-holder">
        <% roles.forEach(function(role) { %>
            <div id="id_<%= role._id %>" class="admin-blocks <%= role.slug %>">
                <a href="/admin/user-controls/edit-admin-role/<%= role._id %>">
                    <h4>
                        Name:
                    </h4>
                    <h5>
                        <%= role.name %>
                    </h5>
                    <h4>
                        Can Read:
                    </h4>
                    <h5>
                        <%= role.canRead %>
                    </h5>
                    <h4>
                        Can Write:
                    </h4>
                    <h5>
                        <%= role.canWrite %>
                    </h5>
                    <h4>
                        Can Edit:
                    </h4>
                    <h5>
                        <%= role.canEdit %>
                    </h5>
                    <h4>
                        Can Delete:
                    </h4>
                    <h5>
                        <%= role.canRemove %>
                    </h5>
                    <form class="admin-blocks__delete-stuffs" method="post" action="/admin/user-controls/remove-admin-role/<%= role._id %>?_method=DELETE">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">Delete</button>
                    </form>
                </a> 
            </div>
        <% }); %>
    </div>

<% include ../_layouts/adminfooter %>