<% include ../../../../important/admin/views/_layouts/adminheader %>
    <h2 class="admin-page__main-title">Project Management</h2>
    <% include ../../../../important/admin/views/_layouts/messages/messages %>
    <div>
        <button class="admin-button admin-button--main">
            <a href="/admin/project-management/add-task">Add a New Task</a>
        </button>
        <button class="admin-button admin-button--main">
            <a  href="/admin/project-management/add-task">Make a New Note</a>
        </button>
    </div>
    <div class="admin-section__dashboard-row">
        <div class="admin-section__dashboard-row__notepad">
            <h3 class="admin-page__none-of-something">There are no notes...</h3>
        </div>
        <a class="admin-section__dashboard-row__redirect" href="#">See all Notes</a>
    </div>
    <h6 class="admin-page__sub-title-one" id="active-tasks">Active Tasks</h6>
    <table class="admin-table">
        <thead>
            <tr class="home">
                <th>task name</th>
                <th>assigned</th>
                <th>edit</th>
                <th>complete</th>
            </tr>
        </thead>
        <tbody>
            <% tasks.forEach(function(task) { %>
                <% if(task.completed != 1) { %>
                    <tr id="id_<%= task._id %>">
                        <td>
                            <%= task.title %>
                        </td>
                        <td>
                            <%= task.assigned %>
                        </td>
                        <td class="admin-table__edit-stuffs">
                            <a href="/admin/project-management/edit-task/<%= task._id %>">Edit</a>
                        </td>
                        <td class="admin-table__complete-stuffs">
                            <a href="/admin/project-management/complete-task/<%= task._id %>">Complete</a>
                        </td>
                    </tr>
                    <% } %>
                        <% }) %>
        </tbody>
        </tr>
    </table>
    <h6 class="admin-page__sub-title-one">Completed Tasks</h6>
    <table class="admin-table">
        <thead>
            <tr class="home">
                <th>task name</th>
                <th>comments</th>
                <th>completed by</th>
                <th>date completed</th>
                <th>archive</th>
            </tr>
        </thead>
        <tbody>
            <% tasks.forEach(function(task) { %>
                <% if (task.completed == 1){ %>
                    <tr>
                        <td>
                            <%= task.title %>
                        </td>
                        <td>
                            <%- task.content %>
                        </td>
                        <td>Completed By</td>
                        <td>Date Completed</td>
                        <td class="admin-table__complete-stuffs">
                            <a href="/admin/project-management/archive-task/<%= task._id %>">Archive</a>
                        </td>
                    </tr>
                    <% } %>
                        </tr>
                        <% }) %>
        </tbody>

    </table>
    <% include ../../../../important/admin/views/_layouts/adminfooter %>